<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h4>Вот что я умею</h4>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Технологии</p>
      <p> В ходе данного проекта ,я научилась создавать сайт при помощи django.
        Создавать форму регистрации с помощью UserCreationForm . Узнала что такое paginator и 'с чем его едят'.
        И еще много всего интересного!
    </article>
  </div>
{% endblock %}